<div class="content2-div">

  <h1 class="mt-5 mb-5"><%= @water.name.upcase %></h1>

  <div  class="card-wide d-flex flex-column">
    <div class="card-wide-top-container">
      <div class="card-wide-info-container">
        <div class="card-wide-info">
          <p class="small-text-show"><%= @water.brand %></p>
          <p class="small-text-show"><%= @water.source %></p>
          <p class="small-text-show"><%= @water.country %></p>
          <p class="small-text-show">PH: <%= @water.ph %></p>
        </div>
      </div>
      <div class="card-wide-image-container">
        <%= image_tag @water.photo, alttext: "Photo of #{@water.photo}" %>
      </div>
    </div>
    <div class="card-wide-footer" data-controller="logs">
      <div class="card-wide-footer-info-container">
        <% if @reviewed %>
          <h3 class="mb-0">You've tried this water!</h3>
        <% elsif current_user.waters.include? @water%>
          <h3 class="mb-0" id="review-slide" type="button" role="button" data-toggle="collapse" data-logs-target="reviewTitle" data-target="#review-form" data-text='What did you think?' data-action="click->logs#showReview" remote="true">You've tried this water!...<small>Click to leave a review</small></h3>
        <% else %>
          <h3 class="mb-0" id="review-slide" type="button" role="button" data-toggle="collapse" data-logs-target="reviewTitle" data-target="#review-form" data-text='What did you think?'><%= link_to "I've tried this water", add_water_to_log_water_path(@water), method: :post, remote: true, data: { action: "ajax:success->logs#showReview" } %></h5>
        <% end %>
        <div class="collapse bg-white mt-3" id="review-form">
          <% if user_signed_in? %>
            <%= simple_form_for [@water, @review] do |f| %>
              <%= f.input :content, placeholder: 'Add your review here...' %>
              <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' } %>
              <%= f.submit class:'btn btn-flat pl-0' %>
            <% end %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path %> to leave a review
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <p id="description" class="mt-5 description" data-text="<%= @water.description %>"><%= @water.description.truncate(400) %> <%= link_to "Read more", "", id:"read-more"%></p>
  <%= link_to "Read less", '', class: 'd-none', id: 'read-less' %>

  <hr class="my-5">
  <div class="col-12 col-sm-6">
    <h3>WHAT PEOPLE ARE SAYING</h3>
    <% if @water.reviews.empty? %>
      <small><em class="text-muted">Be the first one to review this water</em></small>
    <% end %>
    <% @water.reviews.each do |review| %>
      <div>
        <% review.rating.times do %>
          <i class="fas fa-star star-yellow"></i>
        <% end %>
        <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
        <p class="mb-0"><%= review.user.username %></p>
        <p class="mb-0"><%= review.content %></p>
      </div>
      <% if review.user == current_user %>
        <div>

        <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#review_<%= review.id %>_modal">
          Edit
        </button>


        <div class="modal fade" id="review_<%= review.id %>_modal" tabindex="-1" aria-labelledby="review_<%= review.id %>_modalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="review_<%= review.id %>_modalLabel">Edit Review</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [review] do |f| %>
                  <%= f.input :content, placeholder: 'Add your review here...' %>
                  <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { id: 'review_rating' }%>
                  <%= f.submit class:'btn btn-flat' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <%= link_to 'delete', review_path(review), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this review?' } %>
    </div>
      <% end %>
      <hr>
    <% end %>
  </div>

  <p class="spacer-transparent"></p>

  <div class="map-container">
    <h3 class="mb-2">TERROIR</h3>
      <p class="spacer-transparent">p</p>
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<!-- <div class="right-cta-column">
  <p style="writing-mode: vertical-rl">YOUR WATERS</p>
</div>

<div class="right-column">
  <p>sq</p>
</div>

<div class="left-column">
  <p>sq</p>
</div> -->
<% if params[:scroll].present? %>
  <script>
    document.addEventListener('turbolinks:load', () => {
      if (localStorage['scroll']) {
        window.scrollTo({ top: localStorage['scroll'] })
      }
    })
  </script>
<% end %>

<script>
  document.addEventListener('turbolinks:load', () => {
    window.addEventListener('scroll', () => {
      localStorage['scroll'] = window.scrollY;
    });
  });
</script>