<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">
  <div class="nav-item logo">
    <%= link_to root_path do %>
      <i class="fas fa-hand-holding-water pl-5 pr-3"></i>WaterLog
    <% end %>
  </div>
  <div class="navbar-nav d-flex align-items-center">
    <div class="navbar-searchform-container">
      <i class="fas fa-search"></i>
      <%= render 'shared/navbar_searchform' %>
    </div>

  <div class="nav-item">
    <%= image_tag "bars-solid.svg", class: "burger-dropdown dropdown-toggle" %>
  </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <%= link_to 'HOME', root_path, class: "dropdown-item" %>
      <%= link_to 'ABOUT US', about_path, class: "dropdown-item" %>
      <%= link_to 'ALL WATERS', waters_path, class: "dropdown-item" %>
      <%= link_to 'FIND A RANDOM WATER', random_path, class: "dropdown-item" %>
      <% if user_signed_in? %>
        <%= link_to 'YOUR WATERS', logs_path, class: "dropdown-item" %>
        <hr>
        <%= link_to 'LOG OUT', destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
      <% else %>
        <%= link_to 'REGISTER', new_user_registration_path, class: "dropdown-item" %>
        <%= link_to 'LOG IN', new_user_session_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>
