<div class="banner-container">
  <%= video_tag "drop.mp4", autoplay: true, loop: true, muted: "muted", class: "home_video" %>
  <div class="banner">
    <div class="banner-contents-container mt-5">
      <h1 class="home-h1">Rediscover Water</h1>
      <p>Find, log and rate waters from all over the world.</p>
      <%= render 'shared/search_form' %>
    </div>
  </div>
</div>


<div class="spacer-transparent"></div>

<div class="container">
  <spacer class="spacer-transparent" type="horizontal" width="100" height="100"> ♢ </spacer>
  <p class="mt-2">Maintain a log of the waters you’ve tried and collect waters from around the world. And, if you fancy, share reviews with a growing community of international water lovers.</p>
  <br>
  <div class="hr-container pr-2">
    <hr>
  </div>

  <h4 class="mb-0 mt-4">Sommeliers' Notes</h4>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row d-flex justify-content-between align-items-center mt-5">
          <div class="sommeliers-comments-container col-sm-6 col-md-8 pl-5 mb-5">
            <p id="devon-ashberry-comment">"Foz is quite a remarkable water. Naturally alkaline at a PH of 10.1, the Brazilian pick for this week
            accommodates a rare constellation of different minerals that make it highly conductive. That latent
            electrical energy is a joy to experience, and locks your subtle body into an aligned spiritual hum.
            Try it yourself - I'm not joking! Pairs beautifully with smoked eel."</p>
            <div class="somm-comments-footer d-flex justify-content-start align-items-center">
              <%= image_tag "John-Berryman.jpg", class: "avatar-small", alt: "picture of sommelier" %>
              <p id="dev-ashberry-name">Devon Ashberry - Lead Somm at WaterLog</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 mb-5 pl-0">
            <%= link_to water_path(@picked_water_1) do  %>
              <div class="card-bottle-tall">
                <div class="card-bottle-tall-image-container">
                  <%= image_tag @picked_water_1.photo %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row d-flex justify-content-between align-items-center mt-5">
          <div class="sommeliers-comments-container col-sm-6 col-md-8 pl-5 mb-5">
            <p id="garth-reeves-comment">"The water of Ölfus spring, where Icelandic Glacial are based, arrives at the earth's
              surface having percolated, as rainfall and snowmelt, through endless layers of porous, igneous
              rock. That 5,000-year-long mineral-exposure yields a fantastic, and dare I say it, 'smoky' result.
              Great with samphire or salt-cured roe."</p>
            <div class="somm-comments-footer d-flex justify-content-start">
              <%= image_tag "james_baldwin.jpg", class: "avatar-small", alt: "picture of sommelier" %>
              <p id="g-reeves-name"> Garth Reeves - WaterLog Somm in California</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 mb-5 pl-0">
            <%= link_to water_path(@picked_water_2) do  %>
              <div class="card-bottle-tall">
                <div class="card-bottle-tall-image-container">
                  <%= image_tag @picked_water_2.photo %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row d-flex justify-content-between align-items-center mt-5">
          <div class="sommeliers-comments-container col-sm-6 col-md-8 pl-5 mb-5">
            <p id="anne-de-tarot-comment">"Soft and uniquely tannic, Lahuenco, like Foz, is drawn from a volcanic terroir. Unlike Foz, however, its water is extracted from the ground
            at a temperature of 21°. In Mapuche, 'lahuenco' means something like 'medicinal water', and it is this volcanic minerality
          and high natural temperature that no doubt have contributed such a reputation. A treat with buttered Cavolo Nero or Bok Choi."</p>
            <div class="somm-comments-footer d-flex justify-content-start">
              <%= image_tag "harper_lee.jpg", class: "avatar-small", alt: "picture of sommelier" %>
              <p id="anne-de-tarot-name">Anne de Tarot - WaterLog Somm in France</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 mb-5 pl-0">
            <%= link_to water_path(@picked_water_3) do  %>
              <div class="card-bottle-tall">
                <div class="card-bottle-tall-image-container">
                  <%= image_tag @picked_water_3.photo %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="hr-container pr-2">
    <hr>
  </div>

  <h4 class="mb-5 mt-4">Featured Waters</h4>
  <!-- <div class="mt-3" id="waters"> -->
    <div class="row" id="waters">
      <% @waters.each do |water| %>
        <div class="col-12 col-sm-6 col-md-4 mb-5 pl-0">
          <%= link_to water_path(water) do  %>
            <div class="card-bottle-tall">
              <div class="card-bottle-tall-image-container relative-card">
                <% if water.highly_rated %>
                  <p class="absolute-tag">Highly Rated</p>
                <% end %>
                <% if water.rare %>
                  <p class="absolute-tag">Rare</p>
                <% end %>
                <% if water.popular %>
                  <p class="absolute-tag">Popular</p>
                <% end %>
                <%= image_tag water.photo %>
              </div>
              <div class="card-bottle-info">
                <div class="card-bottle-info-container">
                  <p><%= water.name %></p>
                  <p><%= water.brand %></p>
                  <p><%= water.source %></p>
                  <p><%= water.country %></p>
                  <p>pH:<%= water.ph %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <!-- </div> -->
</div>

<spacer class="spacer-transparent" type="horizontal" width="100" height="100"> ♢ </spacer>


