<!DOCTYPE html>
<html>
  <head>
    <title>WaterLog</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

  </head>

  <body>

    <div class="page-container">
      <div class="navbar-container"><%= render "shared/navbar" %></div>
      <div class="content-container" style="margin-top: 80px">
        <%= render 'shared/flashes' %>

        <%= yield %>

        <%= link_to user_signed_in? ? logs_path : new_user_session_path(flash_notice: "sign-in" ), class:"vertical-text-right", style:"writing-mode: vertical-rl" do %>
          <div class="right-cta-column" style="z-index: 99;">
            <div class="vertical-offset" style="height: calc(50vh - 72px);">
            </div>
            YOUR WATERS
          </div>
        <% end %>

        <div class="right-column">
          <p>sq</p>
        </div>

        <div class="left-column">
          <p>sq</p>
        </div>

      </div>
      <div class="footer-container">

        <div class="footer-cta">
          <div class="footer-links">
            <%= link_to 'FIND A RANDOM WATER', random_path %>
          </div>
        </div>

        <div class="footer">
          <div class="footer-links">
            <a href="https://github.com/divyaaajc/waterlog" target="_blank"><i class="fab fa-github"></i></a>
          </div>
          <div class="footer-copyright">
            Made with <i class="fas fa-tint"></i> at WaterLog
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
