<!DOCTYPE html>
<html>
  <head>
    <title>Waterlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


  </head>

  <body>

    <div class="page-container">
      <div class="navbar-container"><%= render "shared/navbar" %></div>
      <div class="content-container">
        <%= render 'shared/flashes' %>

        <%= yield %>

        <div class="right-cta-column">
          <p style="writing-mode: vertical-rl">YOUR WATERS</p>
        </div>

        <div class="right-column">
          <p>sq</p>
        </div>

        <div class="left-column">
          <p>sq</p>
        </div>

      </div>
      <div class="footer-container">

        <div class="footer-cta">
          <div class="footer-links">
            <%= link_to 'FIND A RANDOM WATER', random_path %>
          </div>
        </div>

        <div class="footer">
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="footer-copyright">
            Made with <i class="fas fa-tint"></i> at WaterLog
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
